.loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #191414;
}

.loading-anim-leave {
  opacity: 1;
}

.loading-anim-leave.loading-anim-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.loading-message {
  color: #fff;
  font-size: 1.5rem;
  font-style: italic;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  transform: translate3d(0, 0, 0);
}

.loading-anim-leave.loading-anim-leave-active .loading-message {
  transform: translate3d(0, 1rem, 0);
  opacity: 0.01;
  transition: all 100ms ease-in;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
}

.progress--bar {
  height: 0.5rem;
  background: yellow;
  transition: width 0.1s ease;
}

.loading-anim-leave.loading-anim-leave-active .progress--bar {
  height: 1px;
  transition: height 100ms ease-in;
}
