.loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #191414;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.5rem;
}

.progress--bar {
  height: 0.5rem;
  background: yellow;
  transition: width 0.2s ease;
}
