.backdrop {
  background-size: 150%;
  background-position: 50%;
  /* Add the blur effect */
  filter: blur(0.75);
  -webkit-filter: blur(0.75rem);
  position: fixed;
  top: -2rem;
  left: -2rem;
  bottom: -2rem;
  right: -2rem;
  z-index: -1;
}

.opacity-anim-enter {
  opacity: 0.01;
}

.opacity-anim-enter.opacity-anim-enter-active {
  opacity: 1;
  transition: all 500ms ease;
}
