.album-info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.album-info--cover img {
  width: 19rem;
}

.album-info--meta {
  padding-left: 2rem;
  color: #fff;
}

.album-info--meta .heading {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.external-action {
  display: inline-block;
  padding: 1rem;
  background: #191414;
  border-radius: 0.1875rem;
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  transition: all 0.1s ease;
  margin-right: 1rem;
}

.external-action:hover {
  color: #191414;
  background: white;
}

.external-action svg {
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}
