.album-info {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.album-info--cover img {
  max-width: 19rem;
  width: 100%;
}

.album-info--meta {
  padding-left: 2rem;
  color: #fff;
}

.album-info--meta .heading {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

.album-info--meta .subheading {
  font-size: 1.5rem;
  margin: 1rem 0 2rem 0;
}

.album-info--meta .subheading .year {
  font-style: italic;
  opacity: 0.5;
}

.external-action {
  display: inline-block;
  padding: 1rem;
  background: #191414;
  border-radius: 0.1875rem;
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  transition: all 0.1s ease;
  margin-right: 1rem;
}

.external-action:hover {
  color: #191414;
  background: white;
}

.external-action svg {
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .album-info {
    flex-direction: column;
    padding: 3rem 2rem 2rem;
  }

  .album-info--meta {
    margin-top: 1rem;
    padding: 0;
  }

  .album-info--meta .heading {
    font-size: 2rem;
  }

  .external-action {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
  }
}
