.album-info {
  margin: auto auto 0;
  max-width: 800px;
}

.album-info--cover img {
  max-width: 19rem;
  width: 100%;
}

.album-info--meta {
  padding-left: 2rem;
  color: #fff;
}

.album-info--meta .heading {
  font-size: 3rem;
  margin: 0 0 1rem;
}

.album-info--meta .subheading {
  font-size: 2rem;
  margin: 0 0 1rem 0;
}

.album-info--meta .heading a,
.album-info--meta .subheading a {
  text-decoration: none;
  color: white;
}

.album-info--meta .heading a:hover,
.album-info--meta .subheading a:hover {
  text-decoration: underline;
}

.album-info--meta .subheading .year {
  font-style: italic;
  opacity: 0.5;
}

.album-info--anim-enter {
  transform: scale(0.85);
  opacity: 0.01;
}

.album-info--anim-enter.album-info--anim-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: all 400ms ease;
}

.album-info--anim-enter.album-info--anim-enter-active:nth-child(even) {
  transition-delay: 0.15s;
}

.tag {
  display: inline-block;
  margin-right: 0.5rem;
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
  font-style: italic;
  font-weight: bold;
}

.tag:hover {
  opacity: 1;
}

.tag:last-child {
  margin-right: 0;
}

.tags {
  margin-bottom: 2rem;
}

.external-action {
  display: inline-block;
  padding: 1rem;
  background: #191414;
  border-radius: 0.1875rem;
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  transition: all 0.1s ease;
  margin-right: 1rem;
}

.external-action:hover {
  color: #191414;
  background: white;
}

.external-action svg {
  margin-right: 1rem;
  display: inline-block;
  vertical-align: middle;
}

@media (min-width: 769px) {
  .album-info,
  .album-info > span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .album-info {
    margin-top: 10rem;
    flex-direction: column;
    padding: 2rem;
  }

  .album-info--meta {
    margin-top: 1rem;
    padding: 0;
  }

  .album-info--meta .heading {
    font-size: 2rem;
  }

  .external-action {
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.75rem;
  }
}
