@import url("https://fonts.googleapis.com/css?family=Muli:400,700");

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Muli", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
}

.byline {
  opacity: 0.75;
  align-self: end;
  justify-self: flex-end;
  margin-top: auto;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
}

.byline a {
  color: yellow;
  text-decoration: none;
}

.byline a:hover {
  color: white;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .wrapper {
    overflow: scroll;
  }
}

@media (max-height: 500px) {
  .wrapper {
    position: static;
  }
}
